In [ ]:
import  numpy as np
import  re
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sns
from urllib.parse import urlparse
import pandas_profiling as pp
from pandas_profiling import ProfileReport
import sklearn
from sklearn import metrics, model_selection, tree

In [ ]:
df = pd.read_csv('dataset_pishing.csv')
df.head(5)

,url,ip,nb_www,nb_com,nb_dslash,http_in_path,punycode,port,tld_in_path,tld_in_subdomain,...,domain_in_title,domain_with_copyright,whois_registered_domain,domain_registration_length,domain_age,web_traffic,dns_record,google_index,page_rank,status
0,http://www.crestonwood.com/router.php,0,1,0,0,0,0,0,0,0,...,0,1,0,45,-1,0,1,1,4,legitimate
1,http://shadetreetechnology.com/V4/validation/a...,1,0,0,0,0,0,0,0,0,...,1,0,0,77,5767,0,0,1,2,phishing
2,https://support-appleld.com.secureupdate.duila...,1,0,1,0,0,0,0,0,1,...,1,0,0,14,4004,5828815,0,1,0,phishing
3,http://rgipt.ac.in,0,0,0,0,0,0,0,0,0,...,1,0,0,62,-1,107721,0,0,3,legitimate
4,http://www.iracing.com/tracks/gateway-motorspo...,0,1,0,0,0,0,0,0,0,...,0,1,0,224,8175,8725,0,0,6,legitimate

In [ ]:
df.status.value_counts()

legitimate    5715
phishing      5715
Name: status, dtype: int64

In [ ]:
df['status'] = df['status'].replace(to_replace='phishing', value=1)
df['status'] = df['status'].replace(to_replace='legitimate', value=0)

In [ ]:
df.drop(['url'], axis=1, inplace=True)
df.head(5)

,ip,nb_www,nb_com,nb_dslash,http_in_path,punycode,port,tld_in_path,tld_in_subdomain,abnormal_subdomain,...,dns_record,google_index,page_rank,status,f1,f2,f25,f26,f27,f4-20
0,0,1,0,0,0,0,0,0,0,0,...,1,1,4,0,37,19,0,0.000000,0.0,7
1,1,0,0,0,0,0,0,0,0,0,...,0,1,2,1,77,23,0,0.220779,0.0,7
2,1,0,1,0,0,0,0,0,1,0,...,0,1,0,1,126,50,1,0.150794,0.0,19
3,0,0,0,0,0,0,0,0,0,0,...,0,0,3,0,18,11,0,0.000000,0.0,5
4,0,1,0,0,0,0,0,0,0,0,...,0,0,6,0,55,15,0,0.000000,0.0,10

In [ ]:
new_df.drop_duplicates()

        f1  f2  f4-20  f25       f26       f27  status
0       37  19      7    0  0.000000  0.000000       0
1       77  23      7    0  0.220779  0.000000       1
2      126  50     19    1  0.150794  0.000000       1
3       18  11      5    0  0.000000  0.000000       0
4       55  15     10    0  0.000000  0.000000       0
...    ...  ..    ...  ...       ...       ...     ...
11423   85  15     16    0  0.047059  0.000000       1
11424   62  15     13    0  0.000000  0.000000       0
11426   84  18     15    0  0.023810  0.000000       1
11427  105  16     17    1  0.142857  0.000000       0
11429  477  14     99    0  0.085954  0.785714       1

[7838 rows x 7 columns]

In [ ]:
target = new_df['status']
feature_matrix = new_df.drop(['status'], axis=1)

print('Final features:', feature_matrix.columns)

Final features: Index(['f1', 'f2', 'f4-20', 'f25', 'f26', 'f27'], dtype='object')

In [ ]:
feature_matrix.head()

    f1  f2  f4-20  f25       f26  f27
0   37  19      7    0  0.000000  0.0
1   77  23      7    0  0.220779  0.0
2  126  50     19    1  0.150794  0.0
3   18  11      5    0  0.000000  0.0
4   55  15     10    0  0.000000  0.0

In [ ]:
feature_matrix_train, feature_matrix_test, target_train, target_test = model_selection.train_test_split(feature_matrix, target, test_size=0.25, random_state=31)

In [ ]:
print(feature_matrix_train.count())

f1       8572
f2       8572
f4-20    8572
f25      8572
f26      8572
f27      8572
dtype: int64